.title {
			color: white;
			text-align: center;
		}
    .subtitle{
      color: yellowgreen;
      text-align: center;
    }
    .buttons{
      text-align: center;
    }
    .separatebutton{
        text-align:center;
        display: inline-block;
    }
    .separatebutton:hover{
        filter: brightness(75%)
                drop-shadow(2px 0 0 pink)
                drop-shadow(0 2px 0 pink)
                drop-shadow(-2px 0 0 pink)
                drop-shadow(0 -2px 0 pink);
    }
    .neardisplay{
            text-align:center;
            display: inline-block;
        }
    .homeButton {
      position: fixed;
      bottom: 0;
      right: 0;
    }
    .homeButton:hover{
      position: fixed;
      bottom: 0;
      right: 0;
      filter: brightness(75%);
    }
    .version{
      padding-top: 5%;
      text-align: bottom;
      text-align: center;
      color: pink;
    }
    .about{
          text-align: bottom;
          text-align: center;
          color: pink;
        }
    .versionmain{
      text-align: bottom;
      text-align: center;
      color: pink;
      transform: translate(0%, 250%);
    }
    .body{
        margin: auto;
        align: center;
        width: 95%;
        background-color: #2e1c26;
        display: table;
        transform: translate(0%, 5%);
        top:10%;
        border-radius: 5%;
        border: 2px solid rebeccapurple;
    }
    .block{
        display: inline-block;
        text-align: top;
        align: center;
        flex: 1
        border-radius: 5%;
        border: 2px solid hotpink;
        width: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
        top: 5%;
        background-color: #402d37;
    }
    .blockparent{
        align: center;
        border: 2px sold pink;
        border-radius: 5%
        display: flex;
        margin: auto;
        top: 10%;
        width: 90%;
    }


html {
  scroll-behavior: smooth;
}